<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YouthMedia_0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addcategorycontroller</display-name>
    <servlet-name>addcategorycontroller</servlet-name>
    <servlet-class>controller.addcategorycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcategorycontroller</servlet-name>
    <url-pattern>/addcategorycontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addsubcategorycontroller</display-name>
    <servlet-name>addsubcategorycontroller</servlet-name>
    <servlet-class>controller.addsubcategorycontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addsubcategorycontroller</servlet-name>
    <url-pattern>/addsubcategorycontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubCategoryController</display-name>
    <servlet-name>SubCategoryController</servlet-name>
    <servlet-class>controller.SubCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubCategoryController</servlet-name>
    <url-pattern>/SubCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadController</display-name>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>controller.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/FileUploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUser</display-name>
    <servlet-name>ManageUser</servlet-name>
    <servlet-class>controller.ManageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/ManageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserController</display-name>
    <servlet-name>ManageUserController</servlet-name>
    <servlet-class>controller.ManageUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserController</servlet-name>
    <url-pattern>/ManageUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentController</display-name>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>controller.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplainController</display-name>
    <servlet-name>ComplainController</servlet-name>
    <servlet-class>controller.ComplainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplainController</servlet-name>
    <url-pattern>/ComplainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoUploadController</display-name>
    <servlet-name>VideoUploadController</servlet-name>
    <servlet-class>controller.VideoUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoUploadController</servlet-name>
    <url-pattern>/VideoUploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>headerSearchController</display-name>
    <servlet-name>headerSearchController</servlet-name>
    <servlet-class>controller.headerSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>headerSearchController</servlet-name>
    <url-pattern>/headerSearchController</url-pattern>
  </servlet-mapping>
</web-app>